MONGO_URL=mongodb+srv://igorbaklan28_db_user:EnY2xCEsZJznjnus@cluster0.dmnnsjb.mongodb.net/?appName=Cluster0
EXPO_TOKEN=sdadad
CLERK_SECRET_KEY=sk_test_a5b60G7sQUJabUab55LI40fuokhrXo3RJkiyRJLCjk

# RevenueCat
REVENUECAT_WEBHOOK_SECRET=your_webhook_secret_here
